<div class="body">
  <div class="cards">
    <h2 class="popular-flights"> Popular from Miami</h2>
        
      <div class="single-card"> 
          <img class="flight-image" src="https://www.kayak.com/rimg/dimg/ff/2a/e1b64f74-city-32213-16345d04850.jpg?width=490&height=278&xhint=1880&yhint=1693&crop=true">   
        <h4 tabindex="0">Madrid, Madrid</h4>  
          <p class="flight-info">MIA Miami to MAD Madrid <br> October 11- October 17</p> 
        
          <div class="flight-price-info">
            <img class="plane-image"              src="https://mbtskoudsalg.com/images/plane-icon-png-3.png" style="width:40px; height:40px;"> 
            <h3 class="flight-price"> $400+ <br>
              <span class="flight-stops"> 1 stop</span>
            </h3>  
           <a class="find-flight-button"href="">Find Flight</a>
      </div>
     </div>
    
    
    <div class="single-card">
          <img class="flight-image" src="https://www.kayak.com/rimg/dimg/79/44/6992b702-city-22567-15826bba305.jpg?width=490&height=278&xhint=2875&yhint=1799&crop=true">
          <h4 tabindex="0" class="image-title">Barcelona,CT</h4>
      <p class="flight-info">MIA Miami to BCN Barcelona <br> January 11- January 17</p>
          <div class="flight-price-info">
              <img class="plane-image" src="https://mbtskoudsalg.com/images/plane-icon-png-3.png" style="width:40px; height:40px;"> 
            <h3 class="flight-price"> $900+ <br>
              <span class="flight-stops"> 1 stop </span>
             </h3>
           <a class="find-flight-button" href="">Find Flight</a>
            </div>
       </div>
    
    
    <div class="single-card">
          <img class="flight-image" src="https://www.kayak.com/rimg/dimg/8a/d8/29dcb2f0-city-28501-16292eefebc.jpg?width=490&height=278&xhint=1809&yhint=1818&crop=true"> 
          <h4 tabindex="0">London, ENG</h4>
          <p class="flight-info"> MIA Miami to LHR London <br> December 11- December 17</p>
          <div class="flight-price-info">
              <img class="plane-image" src="https://mbtskoudsalg.com/images/plane-icon-png-3.png" style="width:40px; height:40px;"> 
            <h3 class="flight-price"> $600+ <br>
              <span class="flight-stops"> 1 stop </span>
             </h3>
          <a class="find-flight-button" href="">Find Flight</a>
      </div>
     </div>
  
    
  </div> 
</div>